html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*NAVBAR*/
 .navbar {
  display: flex;
  align-items: center;
  background-color: #ccbfa3;
  padding: 18px 20px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.18);
}
.nav-links {
  display: flex;
  gap: 35px;
  margin: 0 auto; 
}
.nav-links a {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 18px;
  border-radius: 8px;
  transition: 0.3s ease;
}
.nav-links a:hover {
  background-color: #e9dfd2;
  color: #3d2e22;
  transform: translateY(-3px);
}
.sign-in-btn {
  background-color: #b79a7d;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s, transform 0.3s;
}
.sign-in-btn:hover {
  background-color: #e9dfd2;
  transform: translateY(-3px);
}

.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;        
  background: url("pic/background.jpg") no-repeat center center;
  background-size: cover;  
  background-position: center;
  z-index: -1;
}

/* MODAL CONTAINER */
.auth-modal-container {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.modal-close {
    position: absolute;       
    top: 10px;                
    left: 10px;              
    background-color: #df91ab;   
    color: #000;            
    border: none;
    border-radius: 50%;       
    width: 25px;           
    height: 25px;             
    text-align: center;
    line-height: 25px;        
    text-decoration: none;    
    font-weight: bold;
    cursor: pointer;
}
/* MODAL / FORM */
.auth-modal {
  width: 420px;
  max-width: 96%;
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  padding: 28px;
  color: #000;
  box-shadow: 0 10px 30px rgba(0,0,0,0.45);
}

/* FORM STYLES */
.auth-form { display:flex; flex-direction: column; gap:12px; }

.form-row { display:flex; gap:12px; }

.form-group { flex:1; display:flex; flex-direction: column; }

label { color:#000; margin-bottom:6px; font-size:13px; }

.form-input {
  padding:10px;
  border-radius:8px;
  border:none;
  background: rgba(255,255,255,0.18);
  color:#000;
  outline:none;
}

.auth-button {
  padding:12px;
  border:none;
  border-radius:8px;
  background:#df91ab;
  color:#2b2b2b;
  font-weight:700;
  cursor:pointer;
}

.auth-link { color:#000; text-decoration:none; }
.auth-link:hover { text-decoration:underline; }

/* Responsive */
@media (max-width:480px){ .form-row{flex-direction:column;} }
