
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f6f3;
}

/* NAVBAR */
.navbar {
  background-color: #a48d78;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #d5cdbf;
}

/*SEARCH BAR*/
#search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 65px;
  background-color: rgb(244, 244, 244);
  padding: 0 20px;
  gap: 15px;
}

#search-bar img {
  height: 60px;
  width: auto;
  border-radius: 50px;
}

#search-bar form {
  display: flex;
  flex: 1;
}

#inputsearch {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
}

#searchbtn {
  padding: 8px 15px;
  border: none;
  background-color: #a48d78;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

#searchbtn:hover {
  background-color: #d5cdbf;
}

/*CONTAINER*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #f4f1ea;
  padding: 20px;
  flex-wrap: wrap;
}

.background {
  width: 50%;
  max-width: 500px;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}

.qoutes {
  width: 50%;
  max-width: 500px;
  padding-bottom: 30px;
  font-size: 50px;
  color: #5a4635;
  font-style: italic;
  text-align: center;
}

.button-link {
  background-color: #a48d78;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
  transition: 0.3s;
}

.button-link:hover {
  background-color: #d5cdbf;
}

/* BEST SELLER */
h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5em;
  margin-top: 40px;
  color: #5a4635;
  font-style: italic;
}

/* FLOWERS CARD */

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 50px auto;
  max-width: 1300px;
  padding: 0 40px;
}

.flowercard {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.p-4 {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto; 
}


.flowercard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.flowercard img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.flowerp {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 15px;
}

.addtocard {
  padding: 6px 10px;
  background-color:#a48d78;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.8em;
  margin-left: auto;
  text-decoration: none; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.addtocard:hover {
  background-color: #d5cdbf;
}


@media (max-width: 768px) {
  .background,
  .qoutes {
    width: 100%;
    max-width: 100%;
    text-align: center;
    font-size: 32px;
  }

  #search-bar img {
    height: 35px;
  }

  #inputsearch,
  #searchbtn {
    font-size: 14px;
  }

  .flowercard {
    width: 90%;
  }
}

